Repository trillium/cv-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: scripts/eslint-lintstaged.sh, prettier --write

fix(ci): auto-lowercase first letter in commit message, fix on macos
  .husky/commit-msg
Due: none

fix(ci): escape glob patterns in pre-commit grep to prevent regex errors
  .husky/pre-commit
Due: none

fix(pdf): use requested directory instead of file location for PDF generation
  src/app/api/directory/update/route.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(pdf): add PDF preview thumbnail and full viewer components
  src/app/api/pdf/view/route.ts
  src/components/Navigation/Navigation.tsx
  src/components/PdfPreview/PdfPreview.constants.ts
  src/components/PdfPreview/PdfPreview.tsx
  src/components/PdfPreview/Thumbnail.tsx
  src/components/PdfPreview/index.ts
  src/components/PdfPreview/types.ts
  src/components/PdfPreview/utils.ts
  src/components/ResumeSelector/ResumeSelector.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

chore: upgrade to next.js 16 and react 19
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: restructure work experience to use details array
  src/types/cvdata.zod.ts
  src/types/index.ts
  src/types/yaml.d.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat: extend copy data extraction for new work experience structure
  lib/utility/index.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

refactor: update work experience component for details structure
  src/components/WorkExperience/WorkExperience.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

refactor: improve pdf job status handling in directory manager
  src/contexts/DirectoryManager/DirectoryManagerContext.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

chore: update config for next.js 16 compatibility
  next-env.d.ts
  next.config.mjs
  tsconfig.json
Due: scripts/eslint-lintstaged.sh, prettier --write

style: remove redundant print:hidden utility
  src/app/globals.css
Due: prettier --write

docs: update documentation and task list
  CLAUDE.md
  SERVER_PRINT_PAGE.md
  TASKS.md
  docs/PNPM_PDF_OVERVIEW.md
Due: prettier --write

chore: stop tracking generated pdf files
  out/Trillium_Smith_CoverLetter.pdf
  out/Trillium_Smith_Resume.pdf
Due: none

chore: add example pii directory files
  pii-example/linkedin.yml
  pii-example/llm.json
Due: prettier --write

docs: add google resume tips reference material
  llm/google-resume-tips-stripped.md
  llm/google-resume-tips.md
  llm/llm-google.md
Due: prettier --write

chore: migrate from pnpm to bun
  CLAUDE.md
  bun.lock
  docs/BUN_MIGRATION_CHECKLIST.md
  package.json
  pnpm-lock.yaml
  scripts/pdf/pdf.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

fix(bun): update remaining pnpm references in scripts
  scripts/cached-build-serve.ts
  scripts/generate-build-hash.ts
  scripts/pdf/cli-args.ts
  scripts/pdf/server.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

docs: update all pnpm references to bun in documentation
  docs/PDF_WATCH_MODE_PLAN.md
  docs/PNPM_PDF_PROCESS_CHANGE.md
Due: prettier --write

feat(db): add database client singleton
  src/lib/db/client.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add database types
  src/lib/db/types.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add resume queries
  src/lib/db/queries/resume.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add work experience queries
  src/lib/db/queries/work-experience.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add project queries
  src/lib/db/queries/projects.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add technical/education/language queries
  src/lib/db/queries/misc.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add queries index
  src/lib/db/queries/index.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add resume builder utility
  src/lib/utils/resume-builder.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add db-resume page to display resume from database
  src/app/db-resume/page.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

fix(db): correct component imports for db-resume page
  src/app/db-resume/page.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

refactor: move database files to match tsconfig path mapping
  lib/db/client.ts
  lib/db/queries/index.ts
  lib/db/queries/misc.ts
  lib/db/queries/projects.ts
  lib/db/queries/resume.ts
  lib/db/queries/work-experience.ts
  lib/db/types.ts
  lib/utils/resume-builder.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

fix: run Next.js dev server with Bun runtime for bun:sqlite support
  COLOR_UPDATE.md
  EDITABLEFIELD_HIGHLIGHT_OVERAGE.md
  USER_STORY.md
  docs/DB_SCAFFOLD.md
  docs/USE_PANDOC.md
  eval/docs_report.md
  eval/e2e_report.md
  eval/examples_report.md
  eval/husky_report.md
  eval/lib_report.md
  eval/llm_report.md
  eval/pii-example_report.md
  eval/pii_report.md
  eval/root_report.md
  eval/scripts_report.md
  eval/src_report.md
  eval/tasks/FILES.md
  eval/tasks/TASK1.md
  eval/tasks/TASK2.md
  eval/tasks/TASK3.md
  eval/tasks/TASK3_DEDUPE.md
  eval/tasks/TASK3_SPLIT.md
  eval/tasks/TASK4.md
  eval/tests_report.md
  eval/use_client/components_report.md
  eval/use_client/contexts_report.md
  eval/use_client/file-manager_report.md
  eval/use_client/fileManager_report.md
  eval/use_client/hooks_report.md
  eval/use_client/linkedIn_report.md
  eval/use_client/overall_use_client.md
  eval/use_client/playground_report.md
  eval/use_client/root_report.md
  eval/use_client/single-column-multi_report.md
  eval/use_client/two-column-multi_report.md
  eval/use_client/two-column_report.md
  package.json
  src/app/db-resume/page.tsx
  tsconfig.json
Due: scripts/eslint-lintstaged.sh, prettier --write

fix: implement proper server/client boundary for database page
  src/app/db-resume/DbResumeDisplay.tsx
  src/app/db-resume/page.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

feat: add database-backed resume routes alongside YAML routes
  src/app/DynamicDbPage.tsx
  src/app/single-column-db/cover-letter/[resume-id]/page.tsx
  src/app/single-column-db/resume/[resume-id]/page.tsx
  src/app/two-column-db/cover-letter/[resume-id]/page.tsx
  src/app/two-column-db/resume/[resume-id]/page.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

fix: implement proper server/client boundary for database routes
  src/app/DynamicDbPage.tsx
  src/app/single-column-db/cover-letter/[resume-id]/page.tsx
  src/app/single-column-db/resume/[resume-id]/page.tsx
  src/app/two-column-db/cover-letter/[resume-id]/page.tsx
  src/app/two-column-db/resume/[resume-id]/page.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

feat: add filesystem watcher with SSE auto-reload
  bun.lock
  package.json
  scripts/watch-pii.ts
  src/app/api/directory/reload/route.ts
  src/contexts/DirectoryManager/DirectoryManagerContext.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

fix(pdf): change Puppeteer wait strategy to networkidle2
  scripts/pdf/pdf-generator.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

feat(db): add contact info fields to header schema
  lib/db/types.ts
  lib/utils/resume-builder.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

fix(pdf): use bun instead of tsx for PDF generation
  src/app/api/directory/update/route.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

style(resume): improve print layout spacing
  src/components/Resume/single-column/resume.tsx
Due: scripts/eslint-lintstaged.sh, prettier --write

docs: add number-first bullet structure tip
  docs/resume-bullets.md
Due: prettier --write

feat: add numbered array file infrastructure
  lib/multiFileManager/directoryOps.ts
  lib/multiFileManager/multiFileManager.ts
  lib/multiFileMapper.numberedArrays.test.ts
  lib/multiFileMapper.ts
Due: scripts/eslint-lintstaged.sh, prettier --write

Path conditions:
  scripts/eslint-lintstaged.sh: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md,mdx,html,yml,yaml}
